@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 85vh;
}

.drinks {
  width: 80%;
  height: 85vh;
  margin: auto;  
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.drink-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E7E7E7;
  padding: 5px;
}

.drink-img {
  border: 2px solid #E7E7E7;
  border-radius: 50%;
  margin: 20px;
  width: 125px;
}

.drink-name {
  color: #2a2a2a;
  font-family: 'Raleway', sans-serif;
  font-size: 30pt;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.drink-detail {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  margin-left: 30px;
}

.search {
  width: 98%;
  margin: auto;
}


.search-bar {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size:18pt;
  margin: 5px;
  padding: 15px 0px 10px 0px;
  width: 98%;
}
/*#f38553*/
/*#99d3c8*/
